.home-header p {
    color: var(--color-grey);
}

.home-headerbuttons {
    display: flex;
    gap: 1rem;
}

.home-sections {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.projects-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}